/*this be me fonts :D*/
@font-face{
	font-family: 'TruenoBd';
	src: url('TruenoBd.otf');
}
@font-face{
	font-family: 'TruenoLt';
	src: url('TruenoLt.otf');
}
@media screen and (min-width:800px){
	.container{
		font-size:20px!important;
	}
}
@media screen and (min-width:1200px){
	.container{
		font-size:15px!important;
	}
}
@media screen and (min-width:2000px){
	.container{
		font-size:33px!important;
	}
}
@media screen and (orientation:portrait) and (min-width:500px){
	.container{
		font-size:40px!important;
	}
}
.container{
	font-size:15px;
	font-family: arial;
}
#navbutton{
	border-radius:50%;
	background-color:#fff;
	width:1em;
	height:1em;
	line-height:1em;
	text-align:center;
	display:table;
	font-family: Helvetica, sans-serif;
	font-size:3em;
	transition: transform 1s ease;
	-webkit-transition: transform 1s ease;
	-moz-transition: transform 1s ease;
	top:.11em;
	left:.11em;
	position:absolute;
}
#navigation{
	text-transform:uppercase;
	color:#2d2d2d;
	text-decoration:none;
	z-index:1;
	overflow:visible;
	height:4em;
	top:0em;
	left:0em;
	width:100%;
	position:fixed;
	display:block;
	background-color:#2f2f2f;
}
#navigation input{
	display:none;
}
#navbutton, label > dt{
	cursor:pointer;
}
#navigation dt:hover{
	letter-spacing:.42em;
	color:#e3e3e3;
	transition:letter-spacing .5s ease;
	-webkit-transition:letter-spacing .5s ease;
	-moz-transition:letter-spacing .5s ease;
}
nav > dd > a:hover{
	transition:color .5s ease;
	-webkit-transition:color .5s ease;
	-moz-transition:color .5s ease;
	background-color:#626262;
	color:#ffffff;
}
#navigation a{
	text-decoration:none;
	display:block;
	width:100%;
}
nav dd a{
	color:#555555;
}
#cover{
	position:fixed;
	top:0px;
	left:0px;
	background-color:#fff;
	opacity:0.33;
	width:0px;
	height:100%;
	z-index:-1;
	transition:width .5s ease;
	-webkit-transition:width .5s ease;
	-moz-transition:width .5s ease;
}
#navbar{
	background-color:#fff;
	width:auto;
	max-width:0em;
	border-radius:1em;
	display:block;
	position:absolute;
	margin-left:2.77em;
	top:.11em;
	overflow:hidden;
	transition:max-width .5s ease;
	-webkit-transition:max-width .5s ease;
	-moz-transition:max-width .5s ease;
	letter-spacing:.33em;
	font-size:1.33em;
}
#navbar dl{
	padding:.33em;
	margin:0em;
	margin-left:.33em;
}
#navbar dd{
	margin-left:.33em;
}
#navigation dt{
	border: solid #efefef 0px;
	border-bottom-width: 1px;
}
nav{
	max-height:0px;
	display:block;
	overflow:hidden;
	padding:0;
	margin:0;
	background-color:#efefef;
	transition: max-height .5s ease;
	-webkit-transition: max-height .5s ease;
	-moz-transition:  max-height .5s ease;
	border-radius:.33em;
}
#port:checked + label > nav, #cont:checked + label > nav{
	max-height:33em;
	height:100%;
	margin-top:.33em;
	transition: max-height .5s ease;
	-webkit-transition: max-height .5s ease;
	-moz-transition:  max-height .5s ease;
}
#nark:checked + label > #navbar{
	max-width:15em;
	transition:max-width .5s ease;
	-webkit-transition:max-width .5s ease;
	-moz-transition:max-width .5s ease;
}
#nark:checked + label > #cover{
	width:100%;
	transition:width .5s ease;
	-webkit-transition:width .5s ease;
	-moz-transition:width .5s ease;
}
#nark:checked + label > #navbutton{
	transform: rotate(180deg);
	transition: transform 1s ease;
	-webkit-transition: transform 1s ease;
	-moz-transition: transform 1s ease;
}